<div class="row justify-content-center" style="margin-top:7%;">
   <div class="col-sm-7 col-lg-5">
    <mat-card style="background-color: rgba(51, 48, 35, 0.63); border:4cm; border-color: aliceblue;">
        <div style="text-align:center; color: orange;">
            <mat-card-title >Register</mat-card-title>
          </div>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill" style="color: aliceblue;">
              <!-- <mat-label>Favorite food</mat-label> -->
              <input  placeholder="Name" class="form-control"><br><br>
              <input  placeholder="Email" class="form-control"><br><br>
              <input  placeholder="Passsword" class="form-control" type="password"><br><br>
             <button mat-raised-button color="primary">Register</button>
            </mat-form-field>
          </form>
      </mat-card>
   </div>
</div>
